<h1>I am Food Chart.</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th></th>
  </tr>
{{#each FoodChart.peopleController}}
  {{#view FoodChart.PersonView personBinding="this"}}
    <td>{{ person.name }}</td>
    <td>{{ person.balance }}</td>
    <td>
       <a href="#" class="btn increment" {{action "incrementBalance"}}>
         <i class="icon-plus"></i>
       </a>
       <a href="#" class="btn decrement" {{action "decrementBalance"}}>
         <i class="icon-minus"></i>
       </a>
       {{#if person.isBalanced }}
        {{#if FoodChart.peopleController.isBalanced }}
         <a href="#" class="btn btn-danger btn-delete" {{action "destroy"}}>
           <i class="icon-remove icon-white"></i>
         </a>
        {{/if}}
       {{/if}}
    </td>
  {{/view}}
{{/each}}

{{#unless FoodChart.peopleController.isBalanced }}
<tr>
  <td class="text-error" colspan="3">
    <h4 class="text-error" id="chart-status">
      Food Chart is not happy.
    </h4>
  </td>
</tr>
{{/unless}}

</table>

<div>
  {{view FoodChart.NewPersonView target="FoodChart.peopleController" action="createPerson" id="new-person" placeholder="Name"}}
</div>
{{#view Ember.Button classNames="btn btn-primary btn-submit" target="FoodChart.peopleController" action="createPerson"}}
  Add Person
{{/view}}

<div class="footer">
  <h6>
    Source:
    <a href="https://github.com/fromagie/ember-foodchart" target="_new">https://github.com/fromagie/ember-foodchart</a>
  </h6>
</div>
