<h1>Food Chart 3.0</h1>

{{view FoodChart.NewPersonView id="new-person" placeholder="Add a person"}}

<!--<div id="stats">
  {{FoodChart.todosController.remaining}} remaining
</div>
-->

<!--{{view Ember.Checkbox class="mark-all-done"
  title="Mark All as Done"
  disabledBinding="FoodChart.personsController.isEmpty"
  valueBinding="FoodChart.todosController.allAreDone"}}
-->

<ul>
{{#each FoodChart.personsController}}
  {{#view FoodChart.PersonView personBinding="this"}}
    <li>
    <!-- {{view Ember.Checkbox titleBinding="name" valueBinding="isDone"}} -->
      {{ person.name }},
      {{ person.balance }}

      <button {{action "incrementBalance"}}>+</button>
      <button {{action "decrementBalance"}}>-</button>
      <button {{action "destroy"}}>X</button>
    </li>
  {{/view}}
{{/each}}
</ul>
